@import "bootstrap";

    .navbar {

        background-color: black !important;
        
        }
    .navbar-brand {

        font-size: 3rem;
        
        }
        
         
        
        h1 {
        
        color: red;
        
        }